<section id="contact">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="section-title">Nous contacter</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4">
      <div class="info">
        <div>
      
         <!-- <i class="fa fa-map-marker"></i> -->
          <p><br></p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p class="email"><a href="cars-idf@outlook.fr">cars-idf@outlook.fr</a></p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          
          <p class="call"><a href="tel:0665973015">06-65-97-30-15</a></p>
        </div>

      </div>
    </div>

    <div class="col-lg-5 col-md-8">
      <div class="form">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <%= simple_form_for @contact, url: {action: "create"} do |f| %>              
          <div class="form-group">
            <%= f.text_field :name, required: true, class: "form-control", placeholder: "Nom" %>
            <div class="validation"></div>
          </div>
          <div class="form-group">
          <%= f.text_field :email, required: true, class: "form-control", placeholder: "Email" %>
            <div class="validation"></div>
          </div>
          <div class="form-group">
          <%= f.text_field :subject, required: true, class: "form-control", placeholder: "Sujet" %>
            <div class="validation"></div>
          </div>
          <div class="form-group">
          <%= f.text_area :message, as: :text, class: "form-control", placeholder: "Votre Demande" %>
            <div class="validation"></div>
          </div>
          <div class="form-check">
            <%= f.check_box :legal_notice, :required => true, class:"form-check-input", id:"exampleCheck1" %>
            <label class="form-check-label">En cochant cette case vous acceptez les Mentions légales</label>
          </div>
          <div class="text-center"><%= f.submit 'Envoyez', class: "btn" %></div>

        <% end %>
      </div>
    </div>

  </div>
</div>
</section>

