

<body>
<%= render "hero" %>
<%= render "header" %>
<%= render "about" %>
<%= render "parallax" %>
<%= render "features" %>
<%= render "calltoaction" %>
<%= render "team" %>
<%= render "footer" %>



  
 
  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>


  

</body>
</html>
