<!DOCTYPE html>
<html>
  <head>
  <!-- metas -->
  <meta charset="utf-8">
  <meta name="author" content="Webconcepter" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Service de VTC / Taxi / chauffeur privé en Ile-de-France / Paris" />
  <meta name="description" content="Chauffeur privé" />
  
  <!-- title -->
  <title>Cars IDF</title>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
   

  <body>
  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>
  <%= render "pages/notification" %>
  <%= render "hero" %>
  

    <%= yield %>
    <%= render "footer" %>  

  </body>
</html>
